<!doctype html>
<html ng-app="cc-example-module"><head>

<!-- Angular basics -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>

<!-- Bootstrap CSS, but Bootstrap JS not needed nor desired -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<!-- pretty print for JSON -->
<link href="json-print.css" rel="stylesheet">
<script src="json-print.min.js"></script>

<!-- RESTful interface for Angular -->
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.min.js"></script>

<!-- HMAC-SHA256 in the browser code -->
<script src="//cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/hmac-sha256.js"></script>

<!-- code specific to Coinkite and this project -->
<script src="coinkite-api.js"></script>
<script src="project.js"></script>

</head>

<body ng-controller="mainController">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		<h1 class="title">
			<i class="fa fa-dashboard"></i> API Viewer <small><a href="https://docs.coinkite.com/api.html">docs.coinkite.com/api</a></small>
		</h1>
		<p class="lead">
			This page demonstrates using <a href="http://angularjs.org/">AngularJS</a>
			to fetch and display JSON results from the
			<a href="https://api.coinkite.com">Coinkite API</a>
		</p>
	  </div>
	</div>

    <div ng-controller="CKReadCtrl">
      <form novalidate class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">API Key / Secret</label>

          <div class="col-sm-5">
            <input type="text" class="form-control" ng-model="auth.api_key"
                placeholder="Kxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
          </div>
          <div class="col-sm-5">
            <input type="password" class="form-control" ng-model="auth.api_secret"
                placeholder="Sxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxx">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">URL to Get</label>
        
          <div class="col-sm-10">

            <div class="input-group">
              <input type="text" class="form-control"
                ng-model="demo.endpoint" placeholder="/v1/" 
                ng-options="ep for ep in allEndpoints" bs-typeahead data-limit=200 >


              <span class="input-group-btn">
                <button ng-click="reload(auth, demo.endpoint)"
                  class="btn btn-default"
                  ng-disabled="!demo.endpoint || busy"
                  >&nbsp;<i ng-class="busy ? 'fa fa-refresh fa-spin' : 'fa fa-refresh'"></i> Load&nbsp;</button>
              </span>
            </div>
          </div>


<!-- works, but so-so quality
          <div class="col-sm-1">
            <select ng-model="demo.endpoint" placeholder="Shortcuts..."
                ng-options="ep for ep in allEndpoints" bs-select >
            </select>
          </div>
-->

        </div>

      </form>

      <hr />
      <div class="row">
        <div class="col-md-12" ng-show="last_response">
          <pre json-print="last_response" json-indent="2"></pre>
        </div>
        <div class="col-md-12" ng-hide="last_response">
          <h4>Instructions</h4>
          <ul>
            <li>Put your API key and secret into the fields above. It
                must have <tt>read</tt> permission at least.
            <li>Press <b>Load</b> to fetch the resource.
          </ul>
        </div>
    

        <div class="col-md-4">
            <small>{{ response_time }}</small>
        </div>
        <div class="col-md-8">
          <tt class="pull-right">{{last_url}}</tt>
        </div>
      </div>

    </div>


  </div>
</body>

</html>
